.container {
  padding-left: 0;
  padding-right: 0;
}
body {
  line-height: 1.5;
  background: url('../images/page.jpeg');
  background-repeat: repeat;
}
body.dragging, body.dragging * {
  cursor: move !important;
}
header {
  border-bottom: 1px solid black;
  margin-top: 2rem;
  img {
    width: 100%;
  }
}
main {
  background: #E5F2FB;
  padding-bottom: 3rem;
}
footer {
  background: #39AFFE;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 0px 0px 20px 20px;
  p {
    color: white;
    text-align: center;
  }
}
h1 {
  text-align: center;
}
form {
  text-align: center;
  .question {
      width: 75%;
      max-width: 1250px;
      margin: auto;
      text-align: center;
      label, input, textarea {
        font-size: 1.4em;
      }
      input[type="text"] {
        display: block;
        width: 750px;
        margin: 2px auto;
      }
      textarea {
        display: block;
        height: 150px;
        width: 755px;
        margin: auto;
      }
      input[type="checkbox"] {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        margin-bottom: -12px;
      }
      input[type="radio"] {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        margin-bottom: -12px;
      }
      input[type="submit"] {
        font-size: 1.5em;
      }
      .label-select-number {
        display: inline-block;
        width: 22px;
        margin: 5px;
        margin-top: -5px;
      }
  }

}



li {
  list-style-type: none !important;
}